.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #DCDCDC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #031E55;
}

.App-header h1 {
  font-size: 5rem;
  margin-bottom: 10vh;
}

.pageButtons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.pageButtons img {
  height: 50px;
  width: 50px;
  transition: all 0.5s ease;
  transform: scale(1);
}

.pageButtons img:hover {
  transform: scale(1.5) perspective(1px);
}